<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75 fixed-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">CipherKey</a>
    <div>
      <ul class="navbar-nav d-flex flex-row gap-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" routerLinkActive="active">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
