<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75 fixed-top shadow">
  <a class="navbar-brand" routerLink="/dashboard/encrypt">🧬 CipherKey</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a routerLink="/dashboard/encrypt" routerLinkActive="active" class="nav-link">🔐 Encrypt</a>
      </li>
      <li class="nav-item">
        <a routerLink="/dashboard/decrypt" routerLinkActive="active" class="nav-link">🔓 Decrypt</a>
      </li>
      <li class="nav-item">
        <a routerLink="/dashboard/messages" routerLinkActive="active" class="nav-link">📜 My Messages</a>
      </li>
    </ul>

    <button class="btn btn-outline-light" (click)="logout()">Logout</button>
  </div>
</nav>
